#everyones_topic9{"ng:repeat" => "conclusion in question"}
  %h3
    %a{:href => "/nodes/9"} {{conclusion.title}}
    = render :partial => 'delete'
    = render :partial => 'for_form'
    %ul.positive
      %li{"ng:repeat" => "point in conclusion.for"}
        = render :partial => 'for_point'
    = render :partial => 'against_form'
    %ul.negative
      %li{"ng:repeat" => "point in conclusion.against"}
        = render :partial => 'against_point'
