-froms_positive = node.positive_node_froms
-froms_negative = node.negative_node_froms
%div{:id => "#{previous}#{node.id}"}
  - if node.id == original
    %h5 Argument For
  = render :partial => "links/node_through_link_form", :locals => {:type => "Positive", :global_node_to_id => node.global_node_id}
  %ul.positive
    -froms_positive.each do |from|
      %li
        %i{:class => "icon-plus"}
        %a{:href => node_path(from.global_node, @limit_order)}
          = from.title
        %a{:href => "#"}
          %i{:class => "icon-minus-sign #{previous}plus#{from.id}", :style => "display:none;"}
        %a{:href => question_argument_path(from.id, {:path => previous+"plus", :original => original}), :'data-remote' => true}
          %i{:class => "icon-plus-sign #{previous}plus#{from.id}"}
      %div{:id => "#{previous}plus#{from.id}", :style => "display:none;"}
  - if node.id == original
    %h5 Argument Against
  = render :partial => "links/node_through_link_form", :locals => {:type => "Negative", :global_node_to_id => node.global_node_id}
  %ul.positive
    -froms_negative.each do |from|
      %li
        %i{:class => "icon-minus"}
        %a{:href => node_path(from.global_node, @limit_order)}
          = from.title
        %a{:href => "#"}
          %i{:class => "icon-minus-sign #{previous}minus#{from.id}", :style => "display:none;"}
        %a{:href => question_argument_path(from.id, {:path => previous+"minus", :original => original}), :'data-remote' => true}
          %i{:class => "icon-plus-sign #{previous}minus#{from.id}"}
      %div{:id => "#{previous}minus#{from.id}", :style => "display:none;"}
