= form_for @node do |f|
  -if @node.errors.any?
    #error_explanation
      %h2= "#{pluralize(@node.errors.count, "error")} prohibited this node from being saved:"
      %ul
        - @node.errors.full_messages.each do |msg|
          %li= msg

  %ul.unstyled
    %li.clearfix 
      = f.label :title, {:class=>"width_80"}
      .margin_100
        = f.text_field :title
    %li.clearfix
      = f.label :text, {:class=>"width_80"}
      .margin_100
        = f.text_area :text, {:class=>"height_300"}
  .actions
    = f.submit 'Save'
