.span8
  = form_for @node do |f|
    -if @node.errors.any?
      #error_explanation
        %h2= "#{pluralize(@node.errors.count, "error")} prohibited this node from being saved:"
        %ul
          - @node.errors.full_messages.each do |msg|
            %li= msg

    .field
      = f.label :title
      = f.text_field :title
    .field
      = f.label :text
      = f.text_area :text
    .actions
      = f.submit 'Save'
.span4
  %ul{:class => "tabs", 'data-tabs'=>"tabs"}

    %li.active
      %a{:href =>"#links_tos_edit"}
        Links To
        %span
    %li
      %a{:href => "#links_ins_edit"}
        Links In
        %span
  .tab-content
    #links_tos_edit.active.checkboxes
      %table.bordered-table.zebra-striped.condensed
        %tr
          %th None 
          %th + 
          %th = 
          %th - 
          %th Title
        -@nodes.each do |node|
          -link = node[:link_to]
          %tr
            - if link.present?
              = form_tag(:url =>'/links/link_tos_edit') do
                %td
                  = radio_button link, :value, 'delete' 
                %td
                  = radio_button link, :value, 1
                %td
                  = radio_button link, :value, nil 
                %td
                  = radio_button link, :value, 0
                %td
                  = node[:node].title
                  = submit_tag "Submit"
            - else
              = form_tag(:url =>'/links/link_tos_edit') do
                %td
                  = radio_button :link, :value, 'delete' 
                %td
                  = radio_button :link, :value, 1
                %td
                  = radio_button :link, :value, nil 
                %td
                  = radio_button :link, :value, 0
                %td
                  =number_field :link, :node_to, {:value=>node[:node].id, :class=>'hidden'}
                  = node[:node].title
                  = submit_tag "Submit2"
    #links_ins_edit.checkboxes
      %table.bordered-table.zebra-striped.condensed
