= form_for @new_node, :html => {:class => 'form-inline'} do |f|
  -if @new_node.errors.any?
    #error_explanation
      %h2= "#{pluralize(@new_node.errors.count, "error")} prohibited this node from being saved:"
      %ul
        - @new_node.errors.full_messages.each do |msg|
          %li= msg
  .input-append
    = f.text_field :title, :placeholder=>"Node Title", :class=>"span2 typeahead"
    - unless @question.name == "All"
      = f.hidden_field "global_ids", {:value=>@question.id}
    = f.submit 'Add New', :class => 'btn'
