= form_for @new_node, :html => {:class => 'form-inline'} do |f|
  = render :partial => "simple_new_form", :locals => {:f => f}
  .row-fluid
    .span12
      &nbsp;
  .row-fluid
    .span12
      .well.well-small{:style => "margin-bottom:0px;"}
        .row-fluid
          .span4
            %h4
              Conclusion?:
          .span8
            %label.checkbox.inline
              No&nbsp;
              = f.radio_button :is_conclusion, false
            %label.checkbox.inline
              No opinion&nbsp;
              = f.radio_button :is_conclusion, "", :checked => true
            %label.checkbox.inline
              Yes&nbsp;
              = f.radio_button :is_conclusion, true
  - if @question
    %input{:style => 'display:none;', :value => @question.id, :name => "question"}
