= form_for @new_node, :html => {:class => 'form-inline'} do |f|
  -if @new_node.errors.any?
    #error_explanation
      %h2= "#{pluralize(@new_node.errors.count, "error")} prohibited this node from being saved:"
      %ul
        - @new_node.errors.full_messages.each do |msg|
          %li= msg
  .row-fluid
    .span12
      .input-append
        = f.text_field :title, :placeholder=>"Node Title", :class=>"typeahead", :autocomplete => "off", :value =>(session["nodes_query"] ? session["nodes_query"] : "")
        = f.submit 'Add/View', :class => 'btn'
      %label.checkbox.right
        Conclusion?&nbsp;
      = f.check_box :is_conclusion, :class => 'right'
  - if @question
    %input{:style => 'display:none;', :value => @question.id, :name => "question"}
