%table.bordered-table.zebra-striped.condensed
  %tr
    %th + 
    %th = 
    %th - 
    %th Title
  = f.fields_for :link_tos, @links do |l|
    %tr
      %td
        = l.radio_button :value, true
      %td
        = l.radio_button :value, nil 
      %td
        = l.radio_button :value, false 
      %td
        = l.number_field :node_from
        = l.number_field :node_to
        =l.submit "Submit"
