%ul.tabs
  %li.active
    %a{:href =>"#nodes"}
      Nodes
      %span
  %li
    %a{:href => "#visualise"} 
      Visualise
      %span
.pill-content
  #nodes.active
    .row.show-grid
      .span4
        %table
          - @all_nodes.each do |node|
            %tr
              %td
                %ul.unstyled
                  %li.clearfix
                    %h4
                      =link_to node.title, node, :class => 'load' 
                  %li.clearfix
                    =node.text
                    =link_to 'Destroy', node, :confirm => 'Are you sure?', :method => :delete, :class => 'right'
        = link_to 'New Node', new_node_path, :class => 'load' 
      .span12
        .row.show-grid
          .span8.main_content
            %h1 New Node
            = render 'form'
            = link_to 'Back', nodes_path
          .span4.right_content
            %ul{:class => "tabs", 'data-tabs'=>"tabs"}

              %li.active
                %a{:href =>"#links_tos_edit"}
                  Links To
                  %span
              %li
                %a{:href => "#links_ins_edit"}
                  Links In
                  %span
            .tab-content
              #links_tos_edit.active.checkboxes
                %table.bordered-table.zebra-striped.condensed
                  %tr
                    %th + 
                    %th = 
                    %th - 
                    %th Title
                - @nodes.each do |node|
                  -link = node[:link_to]
                  = form_for link do |lt|
                    %table.bordered-table.zebra-striped.condensed
                      %tr
                        %td
                          = lt.radio_button :value, true
                        %td
                          = lt.radio_button :value, nil 
                        %td
                          = lt.radio_button :value, false 
                        %td
                          = lt.hidden_field :node_from
                          = lt.hidden_field :node_to
                          =lt.submit "Submit"
                          = node[:node].title
              #links_ins_edit.checkboxes
                %table.bordered-table.zebra-striped.condensed
                  %tr
                    %th + 
                    %th = 
                    %th - 
                    %th Title
                - @nodes.each do |node|
                  -link = node[:link_in]
                  = form_for link do |li|
                    %table.bordered-table.zebra-striped.condensed
                      %tr
                        %td
                          =li.radio_button :value, true
                        %td
                          =li.radio_button :value, nil 
                        %td
                          =li.radio_button :value, false 
                        %td
                          =li.hidden_field :node_from
                          =li.hidden_field :node_to
                          =li.submit "Submit"
                          = node[:node].title
  #visualise

