.span12
  .row.show-grid
    .span6.main_content
      %p#notice= notice
      .center
        %h2
          = @node.title
        %br
        %p 
          = @node.text
        %br
        %br
        - if @user
          = link_to 'Edit text', edit_node_path(@node, @limit_order), :class => "load"
    .span6.right_content
      = render 'links', :nodes=>@nodes_with_links
