.row.show-grid
  .span8
    %p#notice= notice

    %p
      %b Title:
      = @node.title
    %p
      %b Text:
      = @node.text

    = link_to 'Edit', edit_node_path(@node), :class => "load"
  .span4
    = render :partial => "links"

