.span9
  .row
    .span6.main_content
      %p#notice= notice
      .center
        %h2
          = @node.title
        %br
        %p 
          = @node.body
        - if @positive_argument
          %h3 Argument For
          %ul
            = argument_helper(@positive_argument)
        - if @negative_argument
          %h3 Argument Against
          %ul
            = argument_helper(@negative_argument)
               
        
    .span3.right_content
      = render 'links', :nodes=>@nodes_with_links
