.span9
  .row-fluid
    .span8.main_content
      %p#notice= notice
      %h3
        = @node.title
      %br
      %p 
        = @node.body
      .tabbable
        %ul.nav.nav-pills.right
          %li#menu1.dropdown
            %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#menu1"}
              Node
              %b.caret
            %ul.dropdown-menu
              - if current_user
                %li.active
                  %a{"data-toggle" => "tab", "data-target" => "#me", :href => user_argument_path(@gnu.id, {:path => "me", :original => @gnu}), "data-remote" => true} My Node
              %li.divider
              - User.all.each do |user|
                - if gnu = user.global_node_users.where(:global_id => @question.id, :node_id => @node.id)[0]
                  %li
                    %a{"data-toggle" => "tab", "data-target" => "#other_user", :href => user_argument_path(gnu.id, {:path => "other_user", :original => gnu.id}), "data-remote" => true}= user.name
          - unless @question.name == 'All'
            %li#menu2.dropdown
              %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#menu2"}
                Topic 
                %b.caret
              %ul.dropdown-menu
                - if current_user
                  %li
                    %a{"data-toggle" => "tab", "data-target" => "#my_topic", :href => user_arguments_path(:global_id => @question.id, :path => "my_topic"), "data-remote" => true} My Topic
                %li.divider
                  %li
                    %a{"data-toggle" => "tab", "data-target" => "#everyones_topic", :href => global_arguments_path(:global_id => @question.id, :path => "everyones_topic"), "data-remote" => true} Everyone's topic
                %li.divider
                  - User.all.each do |user|
                    %li
                      %a{"data-toggle" => "tab", "data-target" => "#other_user_topic", :href => user_arguments_path(:global_id => @question.id, :user_id => user.id, :path => "other_user_topic"), "data-remote" => true}= user.name 
        .tab-content
          -if current_user
            #me.tab-pane.active
              = render(:partial => 'user_arguments/show', :locals => {:node => @gnu, :previous => "me", :original => @gnu.id})
            #my_topic.tab-pane
              Loading...
          #other_user.tab-pane
            Loading...
          #other_user_topic.tab-pane
            Loading...
          #everyones_topic{:class => "tab-pane #{current_user ? '' : 'active'}"}
            = render(:partial => 'global_arguments/index', :locals => {:previous => "everyones_topic", :question => @question})
    .span4.right_content
      = render 'links', :nodes=>@nodes_with_links
