.span9
  .row
    .span6.main_content
      %p#notice= notice
      .center
        %h2
          = @node.title
        %br
        %p 
          = @node.body
        - if @positive_argument
          %ul
            - @positive_argument.global_node_users.each do |node|
              %li= node.title
        
    .span3.right_content
      = render 'links', :nodes=>@nodes_with_links
