-global_node_to_id = node.global_node.id
- if node.id == original
  %h5
    = "Argument #{type == "Positive" ? "For" : "Against"}"
    - if current_user
      %a.show-node-through-link{:"data-type" => type, :"data-global-node-to-id" => global_node_to_id}
        = "Show create #{type == "Positive" ? "supporting" : "opposing"} point form"
      %a.hide-node-through-link.hidden{:"data-type" => type, :"data-global-node-to-id" => global_node_to_id}
        = "Hide create #{type == "Positive" ? "supporting" : "opposing"} point form"
- else
  - if current_user
    %a.show-node-through-link{:"data-type" => type, :"data-global-node-to-id" => global_node_to_id}
      = "Show create #{type == "Positive" ? "supporting" : "opposing"} point form"
    %a.hide-node-through-link.hidden{:"data-type" => type, :"data-global-node-to-id" => global_node_to_id}
      = "Hide create #{type == "Positive" ? "supporting" : "opposing"} point form"
  
