-froms_positive = ContextNode.where(:global_node_id => Link.where(:global_node_to_id => node.id, :user_id => argument_user.try(:id)).map(&:global_node_from_id), :user_id => argument_user.try(:id), :question_id => argument_question.id).map(&:global_node) 
-froms_negative = ContextNode.where(:global_node_id => Link.where(:global_node_to_id => node.id, :user_id => argument_user.try(:id)).map(&:global_node_from_id), :user_id => argument_user.try(:id), :question_id => argument_question.id).map(&:global_node) 
%div{:id => "#{previous}#{node.id}"}
  - if node.id == original
    = render :partial => "arguments/build_form", :locals => {:node => node, :original => original, :type => "Positive"}
    = render :partial => "links/node_through_link_form", :locals => {:type => "Positive", :global_node_to_id => node.global_node_id}
  %ul.positive
    -froms_positive.each do |from|
      =render :partial => "arguments/sub_point", :locals => {:from => from, :previous => previous, :original => original, :path_method => path_method}
      %div{:id => "#{previous}plus#{from.id}", :style => "display:none;"}
  - if node.id == original
    = render :partial => "arguments/build_form", :locals => {:node => node, :original => original, :type => "Negative"}
    = render :partial => "links/node_through_link_form", :locals => {:type => "Negative", :global_node_to_id => node.global_node_id}
  %ul.negative
    -froms_negative.each do |from|
      =render :partial => "arguments/sub_point", :locals => {:from => from, :previous => previous, :original => original, :path_method => path_method}
      %div{:id => "#{previous}minus#{from.id}", :style => "display:none;"}
