-froms_positive = node.positive_node_froms
-froms_negative = node.negative_node_froms
%div{:id => "#{previous}#{node.id}"}
  - if node.id == original
    =render :partial => "arguments/build_form", :locals => {:node => node, :original => original, :type => "Positive"}
  %ul.positive
    -froms_positive.each do |from|
      %li
        %i{:class => "icon-plus"}
        %a{:href => node_path(from.global_node, @limit_order)}
          = from.title
        %a{:href => "#"}
          %i{:class => "icon-minus-sign #{previous}plus#{from.id}", :style => "display:none;"}
        %a{:href => send(path_method, from.id, {:path => previous+"plus", :original => original}), :'data-remote' => true}
          %i{:class => "icon-plus-sign #{previous}plus#{from.id}"}
        =render :partial => "arguments/build_form", :locals => {:node => from, :original => original, :type => "Negative"}
        =render :partial => "arguments/build_form", :locals => {:node => from, :original => original, :type => "Positive"}
      %div{:id => "#{previous}plus#{from.id}", :style => "display:none;"}
  - if node.id == original
    =render :partial => "arguments/build_form", :locals => {:node => node, :original => original, :type => "Negative"}
  %ul.positive
    -froms_negative.each do |from|
      %li
        %i{:class => "icon-minus"}
        %a{:href => node_path(from.global_node, @limit_order)}
          = from.title
        %a{:href => "#"}
          %i{:class => "icon-minus-sign #{previous}minus#{from.id}", :style => "display:none;"}
        %a{:href => send(path_method, from.id, {:path => previous+"minus", :original => original}), :'data-remote' => true}
          %i{:class => "icon-plus-sign #{previous}minus#{from.id}"}
        =render :partial => "arguments/build_form", :locals => {:node => from, :original => original, :type => "Negative"}
        =render :partial => "arguments/build_form", :locals => {:node => from, :original => original, :type => "Positive"}
      %div{:id => "#{previous}minus#{from.id}", :style => "display:none;"}
