%li
  %i{:class => "icon-#{sign}"}
  %a{:href => node_path(from.global_node)}
    = from.title
  %a{:href => "#"}
    %i{:class => "icon-minus-sign #{previous}#{sign}#{from.id}", :style => "display:none;"}
  %a{:href => send(path_method, from.id, {:path => "#{previous}#{sign}", :original => original}), :'data-remote' => true}
    %i{:class => "icon-plus-sign #{previous}#{sign}#{from.id}"}
  =render :partial => "arguments/build_form", :locals => {:node => from, :original => original, :type => "Negative"}
  =render :partial => "arguments/build_form", :locals => {:node => from, :original => original, :type => "Positive"}
= render :partial => "links/node_through_link_form", :locals => {:type => "Negative", :global_node_to_id => from.global_node.id}
= render :partial => "links/node_through_link_form", :locals => {:type => "Positive", :global_node_to_id => from.global_node.id}
