.topbar-wrapper{:style => "z-index: 5;"}
  .topbar{"data-dropdown" => "dropdown"}
    .topbar-inner
      .container
        %h3
          %a{:href => "#"} Organisation Name
        %ul.nav
          %li.dropdown
            %a.dropdown-toggle{:href => "#"} More Apps
            %ul.dropdown-menu
              %li
                %a{:href => "#"} Secondary link
              %li
                %a{:href => "#"} Something else here
              %li.divider
              %li
                %a{:href => "#"} Another link
        - if user_signed_in?
          = link_to('Logout', destroy_user_session_path, :method=>'delete')
        - else
          = form_tag user_session_path do
            = email_field_tag :email, nil, :placeholder=>"Email", :class=>"span3"
            = password_field_tag :password, nil, :placeholder=>"Password", :class=>"span3"
            = submit_tag "Submit", :class => 'btn primary'
        %h3.active
          %a{:href => "/", :class=>"right"}Centre
