.topbar-wrapper{:style => "z-index: 5;"}
  .topbar{"data-dropdown" => "dropdown"}
    .topbar-inner
      .container
        %ul.nav
          %li.dropdown
            %a.dropdown-toggle{:href => "#"} Questions
            %ul.dropdown-menu
              %li
                %a{:href => "#new"} New
              - @questions.each do |q|
                %li
                  %a{:href => "##{q.id}"}= q.name
        %h3.active
          %a{:href => nodes_path(:order=>@order), :class=>'right no_margin_left'}Centre
        - if user_signed_in?
          %ul.nav.right
            = link_to('Logout', destroy_user_session_path, :method=>'delete')
        - else
          %ul.nav.right
            = link_to('Sign Up', new_user_registration_path)
          = form_tag user_session_path do
            = email_field :user, :email, {:value=>nil, :placeholder=>"Email", :class=>"span3"}
            = password_field :user, :password, {:value=>nil, :placeholder=>"Password", :class=>"span3"}
            = hidden_field :user, :remember_me, {:value=>0}
            = submit_tag "Submit"
