.navbar
  .navbar-inner
    .container-fluid
      %a.brand{:href => nodes_path(@limit_order)} Centre
      .nav-collapse
        %ul.nav.pull-right
          - if user_signed_in?
            %li
              = link_to('Logout', destroy_user_session_path, :method=>'delete')
          - else
            %li
              = link_to('Sign Up', new_user_registration_path)
            %li.divider-vertical
            %li
              = form_tag user_session_path, :class => 'navbar-form' do
                = email_field :user, :email, {:value=>nil, :placeholder=>"Email", :class=>"span2"}
                = password_field :user, :password, {:value=>nil, :placeholder=>"Password", :class=>"span2"}
                = hidden_field :user, :remember_me, {:value=>0}
                = submit_tag "Submit"
