-link_id = link.new_record? ? "#{rand(Time.now.to_i)}#{Time.now.to_i}" : link.id
%tr{:id => "link_#{link_id}", :class=>type}
  %td
    = radio_button link_id, :value, '_destroy', {:checked => (link.value==nil ? true : false), :class=>"submitter #{link_id}"}
  %td
    = radio_button link_id, :value, 1, {:checked => (link.value==1 ? true : false), :class=>"submitter #{link_id}"}
  %td
    = radio_button link_id, :value, 0, {:checked => (link.value==0 ? true : false), :class=>"submitter #{link_id}"}
  %td
    = radio_button link_id, :value, -1, {:checked => (link.value==-1 ? true : false), :class=>"submitter #{link_id}"}
  %td
    = hidden_field link_id, :node_from, {:value=>link.node_from_id, :class=>"node_from #{link_id}"}
    = hidden_field link_id, :node_to, {:value=>link.node_to_id, :class=>"node_to #{link_id}"}
    - if type == "link_tos"
      = Node.find(link.node_to_id).title
    - if type == "link_ins"
      = Node.find(link.node_from_id).title
