%head
  %title centre
  %meta{:charset => "utf-8"}
  %meta{"http-equiv" => "X-UA-Compatible", :content => "IE=edge,chrome=1"}
  %meta{:name => "viewport", :content => "width=device-width, initial-scale=1, maximum-scale=1"}
  = stylesheet_link_tag :application
  = javascript_include_tag :application
  = csrf_meta_tags
%body{:class => params[:controller]}
  #container.container
    %header
      %nav
        %ul.hmenu
          = render 'shared/navigation'
      - flash.each do |name, msg|
        = content_tag :div, msg, :id => "flash_#{name}" if msg.is_a?(String)
    #main{:role => "main"}
      %ul.tabs
        %li.active
          %a{:href =>nodes_path(@limit_order)}
            Nodes
            %span
        %li
          %a{:href => "/visualise"} 
            Visualise
            %span
      .row.show-grid
        .span4
          %table
            %tr
              -if @user
                = link_to 'New Node', new_node_path(@limit_order), :class => 'load' 
            - @nodes.each do |node|
              %tr
                %td
                  %ul.unstyled
                    %li.clearfix
                      %strong
                        =link_to node.title, node_path(node, @limit_order), :class => 'load' 
                    %li.clearfix
                      - if @user
                        = link_to 'Destroy', node, :confirm => 'Are you sure?', :method => :delete, :class => 'right'
                        = link_to 'Edit text', edit_node_path(node, @limit_order), :class => "load"
          = will_paginate @nodes
          - if @user
            = link_to 'New Node', new_node_path(@limit_order), :class => 'load' 
        =yield 
    %footer
