!!!
%html
  %head
    %title centre
    %meta{:charset => "utf-8"}
    %meta{"http-equiv" => "X-UA-Compatible", :content => "IE=edge,chrome=1"}
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    = stylesheet_link_tag :application
    = javascript_include_tag :application
    = csrf_meta_tags
  %body{:class => params[:controller]}
    #container.container-fluid
      %header
        %nav
          %ul.hmenu
            = render 'shared/navigation'
        - flash.each do |name, msg|
          = content_tag :div, msg, :id => "flash_#{name}" if msg.is_a?(String)
      #main{:role => "main"}
        .row-fluid
          .span4
            %h2= @node_question ? @node_question.name : "All"
            #global_id.hidden= @question.id if @question
            -if current_user
              = render 'new_form'
            #current_nodes
              =render :partial => 'current_nodes', :locals => {:nodes => @nodes}
          .span8
            .row-fluid
              .span8.main_content
                =yield 
              .span4.right_content
              - if @links_from && @links_to
                = render 'links'
      %footer
